# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons folder when downloading from the Asset Library.
/**        export-ignore
/addons !export-ignore
/addons/curved_lines_2d    !export-ignore
/addons/curved_lines_2d/** !export-ignore
